

<div class="heading">Player DashBoard</div>


      <mat-card>
          <img src="{{playerDetail.imageURL}}" style="width:20%;height:20%" >
      </mat-card>

       <mat-card class="player-thumbnail" >
          <mat-card-title>
              <h3 class="book-overview"> {{playerDetail.name }} </h3>
              <h5>FullName : <span>{{playerDetail.fullName}}</span></h5>
          </mat-card-title>
          <mat-card-content>
              <span>
                  <h5>FullName : <span class="">{{playerDetail.fullName}}</span></h5>
                </span>
                <span>
                  <h5>Teams : <span class="">{{playerDetail.majorTeams}}</span></h5>
                </span>
                <span>
                  <h5>Country :<span class=""> {{playerDetail.country}}</span></h5>
                </span>
                <span>
                  <h5>PlayingRole : <span class="">{{playerDetail.playingRole}}</span></h5>
                </span>
                <span>
                  <h5>Born :<span class="">{{playerDetail.born}}</span></h5>
                </span>
                <span>
                  <h5>BattingStyle :<span class=""> {{playerDetail.battingStyle}}</span></h5>
                </span>
                <span>
                  <h5>BowlingStyle :<span class="">{{playerDetail.bowlingStyle}}</span></h5>
                </span>
          </mat-card-content>
       </mat-card>

       
      







